img {
  display: block;
  object-fit: cover;
  max-width: 100%;
  height: auto;
  image-rendering: -webkit-optimize-contrast;
  image-rendering: -moz-crisp-edges;
  image-rendering: crisp-edges;

}

.img-animal {
  width: 100%;
  height: 45vh;
}

.svg-icon {

  object-fit: contain;
}

.no-image {
  background: var(--color-black);
}

.img-full-width {
  width: 100%;
}


.logo {
  max-width: 60%;
  align-self: center;
  margin: 0 auto;
}

@media (min-width: 48rem) {
  .logo {
    align-self: left;
    margin: 0;
  }
}